{% extends 'base.html' %}
{% block title %}
  Registration
{% endblock %}

{% block content %}
  <div>
    <div class="container">
      <form method="POST" class="form-register" style="color:white">
        {{ form.hidden_tag() }}
        <div class="text-center">
          <img class="mb-4" src="https://gravatar.com/avatar/4970daa224d2563ed9424feea6934ba4?s=200&d=robohash&r=x" alt="" />
          <h3 class="h3 mb-3 font-weight-normal flex-1">Please Create your Account</h3>
        </div>
        <br />
        {{ form.username.label(class='text-uppercase') }}
        {{ form.username(class='form-control', placeholder='User Name') }}

        {{ form.email_address.label(class='text-uppercase') }}
        {{ form.email_address(class='form-control', placeholder='Email Address') }}

        {{ form.password.label(class='text-uppercase') }}
        {{ form.password(class='form-control', placeholder='Password') }}

        {{ form.confirm_password.label(class='text-uppercase') }}
        {{ form.confirm_password(class='form-control', placeholder='Confirm Password') }}

        <br />
        <div class="text-center">{{ form.submit(class='btn btn-lg btn-md btn-primary') }}</div>
      </form>
    </div>
  </div>
{% endblock %}
